body {
  margin: 0;
  overflow: hidden;
  font-family: "Roboto" sans-serif;
}

body * {
  box-sizing: border-box;
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

h1 {
  margin-top: 0;
}

.suggestions {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.suggest {
  display: block;
  width: 100%;
  padding-bottom: 4px;
}

.suggest-card-square {
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
}

.suggest-card-square > .mdl-card__title {
  color: #fff;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.search-box {
  position: absolute;
  z-index: 999;
  width: 100%;
}

.search-arrow__container {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #ffdb4d;
}

.search-arrow__input-wrap {
  margin: 4px 0 4px 4px;
  background-color: #fff;
  flex-grow: 1;
}

.search-arrow__input-wrap input.search-arrow__input {
  width: 100%;
  height: 100%;
  padding: 0 8px;
  font-size: 16px;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}

.search-arrow__button {
  font-size: 16px;
  -webkit-user-select: none;
  background: transparent;
  border: 0;
  outline: none;
  -webkit-appearance: none;
}

.search-arrow__button:active {
  background: rgba(0, 0, 0, 0.1);
}

.float-button {
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.hero {
  position: relative;
  z-index: 999;
  width: 90px;
  height: 90px;
  padding: 0;
  font-size: 16px;
  background: #ffdb4d;
  background-size: cover;
  border: 0;
  border-radius: 60px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.hero::after,
.hero::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  background: #ffdb4d;
  border-radius: 30px;
}

.hero::before {
  top: 0;
  left: 2px;
}

.hero::after {
  top: 0;
  right: 2px;
}

.hero--listen,
.hero.hero--listen::after,
.hero.hero--listen::before {
  background: #f00;
}

.hero--waves::after,
.hero--waves::before {
  content: none;
}

.hero--waves {
  position: absolute;
  top: 0;
  z-index: 998;
  pointer-events: none;
  background: transparent;
  transition: transform 0.3s ease-out;
  transform-origin: center;
  will-change: transform;
}

.hero--listen + .hero--waves {
  border: 2px solid #ffdb4d;
  animation-name: speech;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes speech {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.5);
  }
}

.speach-popup {
  position: fixed;
  bottom: 200px;
  left: 10vw;
  z-index: 1000;
  width: 80vw;
  padding: 10px;
  font-size: 2em;
  line-height: 1em;
  background: #ffc940;
  border: 4px solid #ab5518;
  border-radius: 4px;
}

.acquaintance-wrap {
  width: 100%;
  overflow: hidden;
}

.acquaintance-container {
  font-size: 0;
  white-space: nowrap;
  transition-duration: 0.5s;
  transition-property: translate;
}

.acquaintance-container > * {
  font-size: initial;
  white-space: initial;
}

.acquaintance-page {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100vh;
  padding: 20px;
  vertical-align: top;
}

.ya-button {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
  color: #000;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  background: rgba(191, 153, 0, 0.8) !important;
  border: 0;
  border-radius: 3px;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
}

.ya-button:active::before {
  background: rgba(159, 127, 0, 0.8) !important;
}

.ya-button::before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: "";
  background: #ffdb4d !important;
  background: #fff;
  border-radius: 2px;
}

.ya-button > span {
  position: relative;
  display: inline-block;
  margin: 0 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.tutorial-button {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.tutorial-input {
  width: 100%;
  font-size: 2em;
  border: 5px solid #ffdb4d;
  border-radius: 10px;
}

.pin-buttons-container {
  width: 100%;
  text-align: center;
}

.pin-buttons {
  text-align: center;
}

.pin-buttons__button-block {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.pin-buttons__button {
  display: inline-block;
  width: 90%;
  height: 90%;
  margin: 5%;
  background-color: #3790da;
  border: 0;
  border-radius: 50%;
  outline: none;
  -webkit-appearance: none;
}

.pin-buttons__button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 100%;
  margin-top: -0.03em;
  font-size: 3.2rem;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
}

.pin-buttons__button:active {
  opacity: 0.7;
}

table.pin-buttons {
  width: 100%;
}

.pin-buttons td {
  position: relative;
  width: 30%;
}

.pin-buttons td::after {
  display: block;
  margin-top: 100%;
  content: "";
}

.pin-buttons td > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ltorgt {
  margin: 3px;
  font-size: 0.5em;
  vertical-align: bottom;
}
